<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="footer" th:fragment="footer" class="container-fluid justify-content-center p-3 mt-3" style="background-color: #9effb8;">
    <div class="text-center">
        <p>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-tiktok"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-telegram"></i>
        </p>
        <p>&copy;&nbsp;&nbsp;SUNNY SHOP, LLC</p>
    </div>
</div>
</body>
</html>